.ali
{
	display:none;
}
.notificationPanel
{
    padding-right: 5px;
    padding-left: 5px;
    border-left-color: gold;
    left: 0px;
    border-bottom-color: gold;
    padding-bottom: 5px;
    width: 200px;
    border-top-style: ridge;
    border-top-color: gold;
    padding-top: 5px;
    border-right-style: ridge;
    border-left-style: ridge;
    position: absolute;
    top: 0px;
    height: 70px;
    background-color: lightyellow;
    border-right-color: gold;
    border-bottom-style: ridge;
    visibility: visible;
    margin: 5px;
}

.hiddenPanel
{
  
    display: none;
      visibility: hidden;
}
