
/* Shaahr.com | Developer: Alimohammad Eghbbalar | Analyzor: Amir Hossein Kargar */
body, div, p, h1, h2, h3, h4, ul, li, table{
margin:0;
padding:0;	
border:none;
}
body{
direction:rtl;
padding:0px;
background-image:url(../../images/HomePage/bg.gif);
background-repeat:repeat-x;
background-color:#d9ebe4;
}
#body{
margin: 5px auto 20px auto;
width:992px;
}
#master{float:right;}
#center{
position:absolute;
float:right;
width:798px;
height:700px;
margin-top:25px;
margin-right:-210px;
background-color:#fff;
border-width:1px;
border-style:solid;
border-color:#CCC;
}

#TimeHead{direction:ltr;position:absolute;margin-top:15px;}
#master{float:right;margin-top:0px;}

#right1{
background-image:url(../../images/HomePage/Servic.gif);
background-repeat:no-repeat;
width:0px;
height:10px;
margin-top:60px;
float:right;
}
#service
{
	width:207px;
	
}
#Right_menu{
background-color:#96bbc9;
width:100px;
height:500px;
}
/* Serviseee haaa */
#Top_Menu{
float:right;
margin-top:19px;
/* background-color:#999; */
width:190px;
height:196px;
}
/*____________________________________________________________*/
#Down_Menu{
background-image:url(../../images/HomePage/news.gif);
background-repeat:no-repeat;
margin-right:15px;
margin-top:20px;
float:right;
background-color:#577e8b;
width:50px;
height:400px;
}
/* Gharardane News sssss */
#News{
	margin-right:-13px;
margin-top:60px;
/*background-color:#999;*/
width:178px;
height:284px;
}
/*____________________________________________________________*/

#header_IMG{
/*position:absolute;*/
margin-top:5px;	
margin-right:9px;
background-image:url(../../images/HomePage/header.jpg);
width:780px;
height:195px;
}

/* Login kardane User haaaaa */
#header_Content{
float:left;
/* background-color:#CCC; */
width:255px;
height:195px;
}
/*____________________________________________________________*/

#other{float:right;}
#ads{
float:right;
margin-right:30px;
}
#PicDay{
float:right;
/*	background-color:#00C;*/
width:240px;
height:240px;
}
#JQ{
float:right;
/*		background-color:#990; */
width:558px;
height:240px;
}
/*----- Footer ------- */
#footer{
float:right;
background-color:#efedf0; 
width:100%;
border-top:solid #5F9EAA 2px;
}
#footer_main{
margin: 0px auto 20px auto;
width:992px;
}
#footerTop{
-moz-border-radius: 3px;	-webkit-border-radius: 3px;	 border-radius:3px;
background-color:#e3e3e3;
margin-top:8px;
margin-right:13px;
border:solid #dddddd 1px;
width:965px;
height:100px;
}
#footerTopRight{
margin-top:6px;
float:right;
width:690px;
height:50px;
padding:5px;
}
#footerTopLeft{
margin-top:12px;
padding:5px;
float:right;
width:254px;
height:50px;
}
#imgCopyright{float:right;}
#textCopyright{float:right;font-family:Tahoma, Geneva, sans-serif;font-size:11px;padding:5px;color:gray;margin-top:-3px;}
.textNav{float:right;font-family:Tahoma, Geneva, sans-serif;font-size:11px;padding:0px;color:gray;margin-right:2px;}
.imgNav{float:right;}
#footerDown{margin-right:220px;margin-top:5px;}

